
        body {
            background-color: #454444;
            font-family: sans-serif;
            margin: 0;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
             -khtml-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
        }

        .btn, .switch {
            -webkit-tap-highlight-color: transparent;
        }

        .kalcBody {
            margin: 65px auto;
            padding: 35px;
            width: 345px;
        }

        .kalcBody, .btn {
            background-color: #454444;
            border-radius: 15px;
            box-shadow: 5px 5px 10px #303030, -5px -5px 10px #585858;
            color: #A0A0A0;
        }

        .logo {
            background-color: #282828;
            text-shadow: #454444 1px 1px 3px, #6e6e6e 2px 1px 0;
            color: transparent;
            font-size: 2.2rem;
            font-weight: 600;
            position: absolute;
            top: 57px;
            -webkit-background-clip:text;
            -moz-background-clip:text;
            background-clip:text;
        }

        /* slider */
        .toggle-container {
            height: 25px;
            position: relative;
            width: 345px;
            text-align: right;
        }

        .toggle-container p {
            position: absolute;
            bottom: -13px;
            right: 60px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 25px;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            border-radius: 15px;
            box-shadow:inset 1px 1px 3px #b94b01, inset -1px -1px 3px #faa46b;
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ff6600;
            -webkit-transition: .2s;
            transition: .2s;
        }
        
        .slider:before {
            border-radius: 34px;
            box-shadow: 1px 1px 3px #b94b01, -1px -1px 3px #faa46b;
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            right: 4px;
            bottom: 4px;
            background-color: #DCDCDC;
            -webkit-transition: .2s;
            transition: .2s;
        }
        
        input:checked + .slider {
            background-color: #05ac9e;
            box-shadow: inset 1px 1px 3px #026b62, inset -1px -1px 3px #06ddcb;
        }
        
        input:checked + .slider:before {
            box-shadow: 1px 1px 3px #037a70, -1px -1px 3px #06ddcb;
            -webkit-transform: translateX(-24px);
            -ms-transform: translateX(-24px);
            transform: translateX(-24px);
        }

        .slider.round {
            border-radius: 34px;
        }
        
        .slider.round:before {
            border-radius: 50%;
        }
        /* Toggle End */

        /* Display */
        .result {
            border: 0;
            border-radius: 15px;
            box-shadow: inset 5px 5px 10px #303030, inset -5px -5px 10px #585858;
            margin: 15px 0 35px;
            overflow: hidden;
            padding: 20px;
            text-align: right;
            width: 305px;
        }

        .history p {
            font-size: 1.2rem;
            height: 25px;
            margin: 0;
        }

        .output p {
            font-size: 3rem;
            height: 50px;
            margin: 0;
        }
        /* Display End */

        /* Keypad */
        .keypadContainer {
            display: grid;
            grid-gap: 15px;
            grid-template-areas:
            'box1 box2 box3 box4'
            'box5 box6 box7 box8'
            'box9 box10 box11 box12'
            'box13 box14 box15 box16'
            'box17 box17 box17 box16';
            width: 345px;
        }

        .box16 {
            grid-area: box16;
        }

        .box17 {
            grid-area: box17;
        }

        .btn {
            border: 0;
            font-size: 2rem;
            height: 75px;
            width: 75px;
            cursor: pointer;
        }

        .btnTall {
            height: 165px !important;
        }

        .btnWide{
            width: 255px !important;
        }

        .btn:focus{
            outline: none;
        }

        .btn:hover{
            color: #05ac9e;
        }

        .btn:active {
            box-shadow: inset 5px 5px 10px #303030, inset -5px -5px 10px #585858;
        }
        /* Keypad End */

        @media (max-width: 440px){

            .kalcBody {
                width: 270px;
            }

            .kalcBody, .btn {
                border-radius: 10px;
            }

            .logo {
                font-size: 1.9rem;
                position: absolute;
                top: 61px;
            }

            .toggle-container {
                height: 21px;
                width: 100%;
            }
            
            .toggle-container p {
                font-size: 0.9rem;
                position: absolute;
                bottom: -12px;
                right: 48px;
            }

            .switch {
                width: 39px;
                height: 21px;
            }


            .slider:before {
                border-radius: 34px;
                position: absolute;
                height: 15px;
                width: 15px;
                right: 3px;
                bottom: 3px;
            }

            input:checked + .slider:before {
                -webkit-transform: translateX(-17px);
                -ms-transform: translateX(-17px);
                transform: translateX(-17px);
            }

            .result {
                border-radius: 10px;
                width: 230px;
                margin-bottom: 30px;
            }

            .history p {
                font-size: 0.9rem;
                height: 20px;
            }
    
            .output p {
                font-size: 2.5rem;
                height: 40px;
            }

            .keypadContainer {
                grid-gap: 12px;
                width: 270px;
            }

            .btn {
                font-size: 1.6rem;
                height: 58px;
                width: 58px;
            }

            .btnTall {
                height: 128px !important;
            }
    
            .btnWide{
                width: 200px !important;
            }

        }